/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

*.class
*.log

.project
.settings
.classpath
.cache-main
.cache-tests
.scala_dependencies
.worksheet

.idea/
*.iml
.vagrant/
